---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
	<div id="about-me-container">
		<section id="about-me">
			<div id="title-date">
				<h2>About <span class="highlight">Franz Diaz.</span></h2>
				<p>Front-end Developer</p>
				<p>Updated: 25 Nov 2023</p>
			</div>

			<div id="header-para">
				<h1><span>Learn.</span> <span> Build.</span> <span> Repeat.</span></h1>
				<p>
					I am Front-end developer, I have been studying web development for the
					past one and a half years now with the help of free pen Source
					Curriculum for self taught developers like myself.
				</p>
				<p>
					I have been programming from time to time back in 2019 using c++
					making a simple turn-based terminal game then after that I haven’t
					touched anything or learned anything other than that, fast forward a
					couple of years I’ve stumbled upon The Odin Project where I started my
					journey of web development and since then I’ve been having fun
					learning about a lot of things related to the web.
				</p>
			</div>
			<div id="techstack">
				<h3>Technologies I work with:</h3>
				<div class="tech-lists">
					<ul>
						<p class="list-title">Skills</p>
						<li>Javascript</li>
						<li>TypeScript</li>
						<li>ReactJs</li>
						<li>NodeJs</li>
						<li>Firebase</li>
						<li>ExpressJs</li>
						<li>TailwindCSS</li>
					</ul>
					<ul>
						<p class="list-title">Designing && Planning</p>
						<li>Excalidraw</li>
						<li>Figma</li>
						<li>Vimnotes</li>
					</ul>
				</div>
			</div>
		</section>
		<Footer />
	</div>
</Layout>
<style>
	.highlight {
		color: var(--accent1);
	}
	@keyframes text-back-anim-after {
		from {
			top: 75%;
		}
		to {
			top: 65%;
			opacity: 0.1;
		}
	}

	@keyframes text-back-anim-before {
		from {
			top: -2%;
		}
		to {
			top: 21%;
			opacity: 1;
		}
	}
	#about-me-container::before {
		opacity: 0;
		content: "About";
		position: absolute;
		display: inline-block;
		color: var(--text);
		font-weight: 600;
		text-transform: uppercase;
		rotate: 90deg;
		font-size: 120px;
		left: -250px;
		z-index: -1;
		animation: text-back-anim-before 400ms ease-in-out forwards normal;
	}
	#about-me-container::after {
		opacity: 0;
		content: "Tech";
		position: absolute;
		display: inline-block;
		color: var(--text);
		opacity: 0.1;
		font-weight: 600;
		text-transform: uppercase;
		rotate: 90deg;
		font-size: 120px;
		right: -200px;
		z-index: -1;
		animation: text-back-anim-after 400ms ease-in-out forwards normal;
	}

	#about-me-container {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		flex: 1;
		gap: 1em;
		height: 100%;
	}
	#about-me {
		margin-bottom: auto;
		display: flex;
		flex-direction: column;
		gap: 2em;
	}

	#title-date {
		& > :first-child {
			font-size: var(--sub-header-font);
			font-weight: var(--sub-header-weight);
		}
		& > p {
			color: var(--light-shade);
		}

		:nth-child(2) {
			font-weight: 500;
			font-size: 24px;
			color: var(--accent1) !important;
		}

		:nth-child(3) {
			font-weight: 400;
			font-size: 15px;
		}
	}
	#header-para {
		display: flex;
		flex-direction: column;
		gap: 1.2em;
		& > :first-child {
			font-size: 6rem;
			font-weight: 600;
			& > :nth-child(1) {
				color: var(--accent2);
			}

			& > :nth-child(2) {
				color: var(--accent3);
			}

			& > :nth-child(3) {
				color: var(--accent1);
			}
		}
		& > p {
			max-width: 85%;
			font-weight: 400;
			font-size: 22px;
			line-height: 30px;
		}
	}

	#techstack {
		& > h3 {
			margin-bottom: 0.3em;
			font-size: 2rem;
			font-weight: 600;
			color: var(--accent1);
		}
		.list-title {
			font-size: 1.5rem;
			font-weight: 500;
			margin-bottom: 0.3em;
		}
		.tech-lists {
			display: flex;
			gap: 1em;

			& > ul {
				font-size: 1.2rem;
				& > p {
					color: var(--accent4);
				}
			}
			& > ul:first-of-type {
				& > p {
					color: var(--accent3);
				}
			}
		}
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: 0.4em;
		font-size: 1rem;

		& > li {
			font-weight: 400;
			color: var(--light-shade);
			position: relative;
			display: flex;
			align-items:;
		}
		& > li:before {
			content: ">";
			font-weight: 500;
			font-size: 1.3rem;
			color: var(--accent1);
			position: static;
			margin-right: 0.2em;
		}
	}

	@media (max-width: 860px) {
		#about-me-container::before {
			opacity: 0 !important;
		}
	}
	@media (max-width: 720px) {
		#header-para {
			& > :first-child {
				font-size: 4rem;
			}
			& > p {
				max-width: 100%;
				font-weight: 400;
				font-size: 18px;
				line-height: 22px;
			}
		}
		#techstack {
			& > h3 {
				font-size: 1.4rem;
			}
			.list-title {
				font-size: 1.2rem;
				font-weight: 500;
				margin-bottom: 0.3em;
			}
			.tech-lists {
				display: flex;
				gap: 1em;
				& > ul {
					font-size: 1rem;
				}
			}
		}
	}
	@media (max-width: 450px) {
		#header-para {
			& > :first-child {
				font-size: 3.4rem;
			}
			& > p {
				max-width: 100%;
				font-weight: 400;
				font-size: 18px;
				line-height: 22px;
			}
		}
		#title-date {
			& > :first-child {
				font-size: 36px;
				font-weight: var(--sub-header-weight);
			}
			& > p {
				color: var(--light-shade);
			}

			:nth-child(2) {
				font-weight: 500;
				font-size: 20px;
			}

			:nth-child(3) {
				font-weight: 400;
				font-size: 12px;
			}
		}
	}
</style>
