---
import ToBtn from "../components/ToBtn.astro";
import ContactLayout from "../layouts/ResumeLayout.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacts">
	<div id="contents">
		<section id="right">
			<span id="pop-up-notification" class="">
				<p id="pop-up-text"></p>
				<span id="pop-up-icon" class="on-success"></span>
			</span>
			<form>
				<div class="text-content">
					<h1>Get in touch.</h1>
					<p>Let's chat and work together.</p>
					<div id="mail-box">
						<a
							target="_blank"
							rel="noopener noreferrer"
							href="/resume"
							class="box-container">
							<span id="icon-container">
								<span id="pdf-icon"></span>
							</span>
							<span class="box">
								<p>Get my resume</p>
								<p>Resume</p>
							</span>
						</a>
						<a href="mailto:franzdiaz460@gmail.com" class="box-container">
							<span id="icon-container">
								<span id="mail-icon"></span>
							</span>
							<span class="box">
								<p>Mail me at</p>
								<p>franzdiaz460@gmail.com</p>
							</span>
						</a>
					</div>
				</div>
				<span class="name-email-inputs">
					<div id="name" class="inputs">
						<label for="name">Name</label>
						<input required class="input" type="text" id="name" name="name" />
					</div>
					<div id="email" class="inputs">
						<label for="email">Email</label>
						<input
							required
							class="input"
							type="email"
							id="email"
							name="email"
						/>
					</div>
				</span>
				<div id="subject" class="inputs">
					<label for="subject">Topic</label>
					<input class="input" type="text" id="subject" name="subject" />
				</div>
				<div id="message" class="inputs">
					<label for="message">Your message</label>
					<textarea class="input" id="message" name="message"></textarea>
				</div>

				<div id="submit-btn">
					<button class="input" type="submit"
						>Send message <span>{">"}</span></button
					>
				</div>
			</form>
		</section>

		<Footer />
	</div>
</Layout>
<script>
	import {initializeApp} from "firebase/app";
	import {getAnalytics} from "firebase/analytics";
	import {
		getFirestore,
		addDoc,
		doc,
		setDoc,
		collection,
	} from "firebase/firestore";
	const firebaseConfig = {
		apiKey: "AIzaSyD3IuiWmJ1IrrU0JTd4mii1aHiKzEKv4-Y",
		authDomain: "portfolio-db-b657d.firebaseapp.com",
		projectId: "portfolio-db-b657d",
		storageBucket: "portfolio-db-b657d.appspot.com",
		messagingSenderId: "286900560555",
		appId: "1:286900560555:web:c9395eae21709d62918dee",
		measurementId: "G-4DX0NF54Z0",
	};

	// // Initialize Firebase
	const app = initializeApp(firebaseConfig);
	const db = getFirestore(app);
	const form = document.querySelector("form");
	const submitBtn = document.querySelector('button[type="submit"]');
	const inputs = document.querySelectorAll(".input");
	console.log(submitBtn);

	async function sendMessage(inputs) {
		console.log(inputs);
		try {
			// const emailsRef = collection(db, "emails");
			// await addDoc(emailsRef, {...inputs});
			setTimeout(() => {
				console.log("success");
			}, 2000);
			// clearInputText();
			return "Message sent successfully!";
		} catch (err) {
			console.log(err);
			return "Something went wrong, please try again later.";
		}
	}
	async function handleOnSubmit(e) {
		e.preventDefault();
		const messageBody = new FormData(form);
		const toPbj = Object.fromEntries(messageBody);
		Array.from(inputs).forEach((child) => {
			child.setAttribute("disabled", "");
		});
		const message = await sendMessage(toPbj);
		setPopUpText(message);
		Array.from(inputs).forEach((child) => {
			child.removeAttribute("disabled");
		});
	}

	async function setPopUpText(text) {
		const popUpText = document.getElementById("pop-up-text");
		popUpText.textContent = text;
		showPopUp();
	}
	function showPopUp() {
		const popUp = document.getElementById("pop-up-notification");
		if (!popUp.classList.contains("active")) {
			popUp.classList.add("active");
		}
		setTimeout(() => {
			popUp.classList.replace("active", "inactive");
		}, 2000);
		popUp.classList.remove("inactive");
	}
	function clearInputText() {
		const inputs = document.querySelectorAll("input");
		const textArea = document.querySelector("textarea");
		Array.from(inputs).forEach((input) => {
			input.value = "";
		});
		textArea.value = "";
	}

	form.addEventListener("submit", handleOnSubmit);
</script>
<style>
	#contents {
		flex: 1;
		color: var(--text);
		height: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: 4em;
	}
	@media (max-width: 1024px) {
	}
	@keyframes pop-up-show {
		from {
			top: -20%;
		}
		to {
			opacity: 1;
			top: 10%;
		}
	}

	@keyframes pop-up-hide {
		from {
			opacity: 1;
			top: 10%;
		}
		to {
			opacity: 0;
			top: -20%;
		}
	}

	#pop-up-notification {
		top: -20%;
		z-index: 100;
		opacity: 0;
		position: absolute;
		padding: 1em 2em;
		font-size: 0.9rem;
		background-color: var(--bg);
		border: 1px solid var(--lighter-shade);
		border-radius: 5px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.9em;
		box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.6);
	}
	#pop-up-icon {
		width: 25px;
		height: 25px;
		background-position: center;
		background-repeat: no-repeat;
	}
	.on-success {
		background-image: url("../assets/icons/success.svg");
	}

	.on-error {
		background-image: url("../assets/icons/error.svg");
	}

	.active {
		animation: pop-up-show 350ms forwards normal ease-in-out;
	}

	.inactive {
		animation: pop-up-hide 350ms forwards normal ease-in-out;
	}

	section {
		flex: 1;
		height: 100%;
	}
	#right {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.text-content {
		position: relative;
		margin-bottom: 2em;
		& > :first-child {
			margin-bottom: 0.2em;
			font-weight: 600;
			font-size: 4rem;
			color: var(--accent1);
			line-height: 0.8em;
		}
		& > p {
			font-size: 1.4rem;
			font-weight: 500;
		}
	}
	#mail-box {
		position: relative;
		display: flex;
		gap: 1em;
		align-items: center;
	}
	.box-container {
		gap: 1em;
		display: flex;
		align-items: center;
		margin-top: 1em;
		padding: 0.4em 0.8em;
		background-color: var(--lighter-shade);
		border-radius: 2px;
	}
	.box > :first-child {
		/* color: grey; */
		font-size: 0.9rem;
		font-weight: 500;
	}
	.box > :last-child {
		font-weight: 600;
		color: var(--accent1);
		font-size: 1rem;
	}
	#icon-container {
		width: max-content;
		background-color: var(--light-shade);
		padding: 0.5em;
		border-radius: 5px;
	}
	#mail-icon {
		background-image: url("../assets/icons/mail.svg");
	}
	#pdf-icon {
		background-image: url("../assets/icons/pdf.svg");
	}
	#pdf-icon,
	#mail-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 25px;

		height: 25px;
	}
	#right > form {
		transition: all 200ms ease-in-out;
		padding: 0.8em;
		max-height: 100%;
		width: calc(60% + 6em);
		& > h2 {
			font-weight: 600;
			font-size: 2rem;
			margin-bottom: 1em;
		}
	}

	form:has(.input:disabled) {
		transition: all 200ms ease-in-out;
		filter: blur(2px);
		opacity: 0.5;
	}

	.name-email-inputs {
		display: flex;
		gap: 1em;
		& > #email {
			flex-grow: 1;
		}
	}
	label {
		color: var(--text);
		margin-bottom: 0.5em;
		font-weight: 500;
	}
	.inputs {
		& > * {
			appearance: none;
			width: 100%;
			display: block;
		}
		&:not(:last-child) {
			margin-bottom: 1.4em;
		}
		& > textarea {
			margin-top: 0.5em;
			height: 150px;
			resize: none;
			line-height: 1.2rem;
		}
	}

	input,
	textarea {
		box-sizing: border-box;
		font-size: 1rem;
		padding: 0.6em 1em;
		transition: outline 200ms ease-in-out;
		outline: 1px solid transparent;
		border-bottom: 1px solid var(--light-shade);
		background-color: transparent;
	}

	input:focus,
	textarea:focus {
		outline: 1px solid var(--accent1);
		transition: outline 200ms ease-in-out;
	}
	#submit-btn {
		width: max-content;
		background-color: var(--accent1);
		position: relative;
		& > button {
			background-color: var(--accent1);
			font-family: "poppins";
			padding: 1em 1.5em;
			color: var(--bg);
			font-weight: 600;
			display: flex;
			gap: 0.6em;
			box-shadow: 5px 5px 0px 0px var(--accent1-shadow);
			transition: all 200ms ease-in-out;
			align-items: center;
			& > span {
				font-size: 1.5em;
			}
		}
		& > button:hover {
			transition: all 200ms ease-in-out;
			box-shadow: 12px 6px 0px 0px var(--accent1-shadow);
		}

		& > button span {
			transition: all 200ms ease-in-out;
		}
		& > button:hover span {
			transform: translateX(5px);
			transition: all 200ms ease-in-out;
		}
		& > button:disabled {
			transition: background-color ease-in-out 200ms;
			background-color: #a3dfd580;
		}
	}

	@media (max-width: 1280px) {
		.text-content {
			& > h1 {
				font-size: 2.5rem;
			}
			& > p {
				font-size: 1.2rem;
			}
		}
	}
	@media (max-width: 1024px) {
		#contents {
			gap: 2em;
			width: 100%;
		}
		.text-content {
			& > h1 {
				font-size: clamp(0.8rem, 1vw + 2rem, 3.5rem);
			}
			& > p {
				font-size: 1.2rem;
			}
		}

		#right > form {
			width: 100%;
			border-radius: 5px;
			& > h2 {
				font-weight: 600;
				font-size: clamp(0.8rem, 1vw + 1.3rem, 2rem);
				margin-bottom: 1em;
			}
		}
	}

	@media (max-width: 500px) {
		.text-content {
			& > h1 {
				font-size: clamp(0.8rem, 1vw + 1.5rem, 3.5rem);
			}
			& > p {
				font-size: 1.2rem;
			}
		}
	}
	@media (max-width: 600px) {
		#mail-box {
			margin: 1em 0em;
			gap: 0.6em;
			align-items: start;
			flex-direction: column;
			& > .box-container {
				margin-top: 0em;
			}
		}
	}
	@media (min-width: 1921px) {
		.text-content {
			margin-top: 2em;
		}
	}
</style>
