---
import ToBtn from "../components/ToBtn.astro";
import ContactLayout from "../layouts/ResumeLayout.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacts">
	<div id="contents">
		<section id="left">
			<div class="text-content-container">
				<div id="back-btn-container">
					<ToBtn link="/projects" text={"Back to Projects"} />
				</div>
				<div class="text-content">
					<h1>I'm Free.</h1>
					<h1>Let's chat, work together</h1>
					<h1>and build things.</h1>
					<p>Get in touch.</p>
				</div>
				<div id="mail-box">
					<a
						target="_blank"
						rel="noopener noreferrer"
						href="/resume"
						class="box-container">
						<span id="icon-container">
							<span id="pdf-icon"></span>
						</span>
						<span class="box">
							<p>Get my resume</p>
							<p>Resume</p>
						</span>
					</a>
					<a class="box-container">
						<span id="icon-container">
							<span id="mail-icon"></span>
						</span>
						<span class="box">
							<p>Mail me at</p>
							<p>franzdiaz460@gmail.com</p>
						</span>
					</a>
				</div>
			</div>
		</section>
		<section id="right">
			<span id="pop-up-notification" class="">
				<p id="pop-up-text"></p>
				<span id="pop-up-icon" class="on-success"></span>
			</span>
			<form>
				<h2>Send me a message.</h2>
				<div id="name" class="inputs">
					<input
						required
						class="input"
						type="text"
						id="name"
						name="name"
						placeholder="Fullname*"
					/>
				</div>
				<div id="email" class="inputs">
					<input
						required
						class="input"
						type="email"
						id="email"
						name="email"
						placeholder="Email address*"
					/>
				</div>
				<div id="subject" class="inputs">
					<input
						class="input"
						type="text"
						id="subject"
						name="subject"
						placeholder="Subject"
					/>
				</div>
				<div id="message" class="inputs">
					<label for="message">Tell me what you think</label>
					<textarea
						class="input"
						id="message"
						name="message"
						placeholder="Your message"></textarea>
				</div>
				<div id="submit-btn">
					<button class="input" type="submit">Send message</button>
				</div>
			</form>
		</section>
	</div>
</Layout>
<script>
	import {initializeApp} from "firebase/app";
	import {getAnalytics} from "firebase/analytics";
	import {
		getFirestore,
		addDoc,
		doc,
		setDoc,
		collection,
	} from "firebase/firestore";
	const firebaseConfig = {
		apiKey: "AIzaSyD3IuiWmJ1IrrU0JTd4mii1aHiKzEKv4-Y",
		authDomain: "portfolio-db-b657d.firebaseapp.com",
		projectId: "portfolio-db-b657d",
		storageBucket: "portfolio-db-b657d.appspot.com",
		messagingSenderId: "286900560555",
		appId: "1:286900560555:web:c9395eae21709d62918dee",
		measurementId: "G-4DX0NF54Z0",
	};

	// // Initialize Firebase
	const app = initializeApp(firebaseConfig);
	const db = getFirestore(app);
	const form = document.querySelector("form");
	const submitBtn = document.querySelector('button[type="submit"]');
	const inputs = document.querySelectorAll(".input");
	console.log(submitBtn);

	async function sendMessage(inputs) {
		console.log(inputs);
		try {
			// const emailsRef = collection(db, "emails");
			// await addDoc(emailsRef, {...inputs});
			setTimeout(() => {
				console.log("success");
			}, 2000);
			// clearInputText();
			return "Message sent successfully!";
		} catch (err) {
			console.log(err);
			return "Something went wrong, please try again later.";
		}
	}
	async function handleOnSubmit(e) {
		e.preventDefault();
		const messageBody = new FormData(form);
		const toPbj = Object.fromEntries(messageBody);
		Array.from(inputs).forEach((child) => {
			child.setAttribute("disabled", "");
		});
		const message = await sendMessage(toPbj);
		setPopUpText(message);
		Array.from(inputs).forEach((child) => {
			child.removeAttribute("disabled");
		});
	}

	async function setPopUpText(text) {
		const popUpText = document.getElementById("pop-up-text");
		popUpText.textContent = text;
		showPopUp();
	}
	function showPopUp() {
		const popUp = document.getElementById("pop-up-notification");
		if (!popUp.classList.contains("active")) {
			popUp.classList.add("active");
		}
		setTimeout(() => {
			popUp.classList.replace("active", "inactive");
		}, 2000);
		popUp.classList.remove("inactive");
	}
	function clearInputText() {
		const inputs = document.querySelectorAll("input");
		const textArea = document.querySelector("textarea");
		Array.from(inputs).forEach((input) => {
			input.value = "";
		});
		textArea.value = "";
	}

	form.addEventListener("submit", handleOnSubmit);
</script>
<style>
	#contents {
		flex: 1;
		color: var(--text);
		/* max-width: 1024px; */
		height: 100%;
		display: flex;
		justify-content: center;
		gap: 4em;
	}
	@media (max-width: 1024px) {
		#contents {
			flex-direction: column;
		}
	}
	@keyframes pop-up-show {
		from {
			top: -20%;
		}
		to {
			opacity: 1;
			top: 10%;
		}
	}

	@keyframes pop-up-hide {
		from {
			opacity: 1;
			top: 10%;
		}
		to {
			opacity: 0;
			top: -20%;
		}
	}

	#pop-up-notification {
		top: -20%;
		z-index: 100;
		opacity: 0;
		position: absolute;
		padding: 1em 2em;
		font-size: 0.9rem;
		background-color: var(--bg);
		border: 1px solid var(--lighter-shade);
		border-radius: 5px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.9em;
		box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.6);
	}
	#pop-up-icon {
		width: 25px;
		height: 25px;
		background-position: center;
		background-repeat: no-repeat;
	}
	.on-success {
		background-image: url("../assets/icons/success.svg");
	}

	.on-error {
		background-image: url("../assets/icons/error.svg");
	}

	.active {
		animation: pop-up-show 350ms forwards normal ease-in-out;
	}

	.inactive {
		animation: pop-up-hide 350ms forwards normal ease-in-out;
	}

	section {
		flex: 1;
		height: 100%;
	}
	#left {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	#right {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.text-content-container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		flex: 1;
	}
	.text-content {
		position: relative;
		margin-top: 1.4em;
		& > h1 {
			font-weight: 600;
			font-size: 2.8rem;
		}
		& > p {
			/* margin-left: 1em; */
			color: grey;
			font-weight: 400;
			font-size: 1.2rem;
		}
	}
	#back-btn-container {
		display: flex;
		align-items: center;
		gap: 1em;
		#to-btn {
			& > .to-btn {
				display: flex !important;
				flex-direction: row-reverse !important;
				& > .arrow {
					transform: rotate(180deg);
					transform-origin: 50% 40%;
				}
			}
		}
	}
	#mail-box {
		position: relative;
		width: min-content;
		display: flex;
		justify-content: center;
		align-items: start;
		flex-direction: column;
	}
	.box-container {
		gap: 1em;
		display: flex;
		align-items: center;
		margin-top: 1em;
		padding: 1em 1.4em;
		background-color: var(--lighter-shade);
		border-radius: 2px;
	}
	.box {
		font-weight: 600;
	}
	.box > :last-child {
		color: var(--accent1);
	}
	#icon-container {
		width: max-content;
		background-color: var(--light-shade);
		padding: 0.5em;
		border-radius: 5px;
	}
	#mail-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		background-image: url("../assets/icons/mail.svg");
	}
	#pdf-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		background-image: url("../assets/icons/pdf.svg");
	}
	#right > form {
		transition: all 200ms ease-in-out;
		padding: 3em;
		border: 2px solid var(--lighter-shade);
		max-height: 100%;
		width: calc(60% + 6em);
		min-width: 500px;
		border-radius: 1px;
		& > h2 {
			font-weight: 600;
			font-size: 2rem;
			margin-bottom: 1em;
		}
	}

	form:has(.input:disabled) {
		transition: all 200ms ease-in-out;
		filter: blur(2px);
		opacity: 0.5;
	}

	.inputs {
		& > * {
			appearance: none;
			width: 100%;
			border-radius: 3px;
			display: block;
		}
		&:not(:last-child) {
			margin-bottom: 1.4em;
		}
		& > textarea {
			margin-top: 0.5em;
			min-height: 150px;
			max-height: 150px;
			resize: none;
		}
	}

	input,
	textarea {
		font-size: 1rem;
		padding: 0.6em 1em;
		transition: outline 200ms ease-in-out;
		outline: 1px solid transparent;
	}
	input,
	textarea {
		background-color: var(--lighter-shade);
	}
	input:focus,
	textarea:focus {
		outline: 1px solid var(--accent1);
		border: none;
		transition: outline 200ms ease-in-out;
	}
	input::placeholder,
	textarea::placeholder {
		color: var(--light-shade);
	}
	#submit-btn {
		& > button {
			font-family: "poppins";
			background-color: var(--accent1);
			color: var(--bg);
			font-weight: 600;
			border-radius: 2px;
			padding: 0.8em 1em;
			transition: background-color ease-in-out 200ms;
		}
	}

	#submit-btn {
		& > button:disabled {
			transition: background-color ease-in-out 200ms;
			background-color: #a3dfd580;
		}
	}

	@media (max-width: 1280px) {
		.text-content {
			& > h1 {
				font-size: 2.5rem;
			}
			& > p {
				font-size: 1.2rem;
			}
		}
	}
	@media (max-width: 1024px) {
		#contents {
			gap: 2em;
			width: 100%;
		}
		#left {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		.text-content {
			& > h1 {
				font-size: clamp(0.8rem, 1vw + 2rem, 3.5rem);
			}
			& > p {
				font-size: 1.2rem;
			}
		}
		.text-content-container,
		.text-content {
			width: 100%;
		}
		#right > form {
			width: 100%;
			min-width: 400px;
			border-radius: 5px;
			& > h2 {
				font-weight: 600;
				font-size: clamp(0.8rem, 1vw + 1.3rem, 2rem);
				margin-bottom: 1em;
			}
		}
	}

	@media (max-width: 500px) {
		.text-content-container,
		.text-content {
			width: 100%;
		}
		.text-content {
			& > h1 {
				font-size: clamp(0.8rem, 1vw + 1.5rem, 3.5rem);
				line-height: 2rem;
			}
			& > p {
				font-size: 1.2rem;
			}
		}
	}
	@media (min-width: 1921px) {
		.text-content {
			margin-top: 2em;
		}
		#back-btn {
			gap: 2em;
			:last-child {
				font-size: clamp(1rem, 1vw + 1.2rem, 1.5rem) !important;
			}
		}
	}
</style>
