---
import BarChart from "../components/BarChart.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="FDiaz">
	<main>
		<nav>
			<a id="logo" href="/">FDiaz</a>
			<div id="nav-actions">
				<a>Resume</a>
				<a href="/projects">Works</a>
				<a>Contact</a>
			</div>
			<!-- <MenuBtn /> -->
		</nav>
		<div id="hero">
			<div id="hero-text-container">
				<h1 id="greet" class="hero-text">
					Oh Hello! <div>my name is <span>Franz Diaz</span></div>
				</h1>
				<p id="profession" class="hero-text">
					I'm a <span>{"<"}Software Developer{"/>"}</span>
				</p>
				<p id="introduction" class="hero-text">
					I create UI for custom websites that specifies business needs and also
					will code for food.
				</p>
			</div>
			<!-- <BarChart/> -->
		</div>
		<!-- <footer>
			<a>Github</a>
			<a>Hire me</a>
		</footer> -->
	</main>
</Layout>

<script>
	import SplitType from "split-type";
	import gsap from "gsap";
	SplitType.create("#logo");

	gsap.from("#hero-text-container", {
		y: 100,
		opacity: 0,
	});
	gsap.to("#hero-text-container", {
		y: 0,
		opacity: 1,
		duration: 0.7,
	});

	gsap.from(".char", {
		y: 20,
		opacity: 0,
		stagger: 0.04,
	});
	gsap.to(".char", {
		opacity: 1,
		y: 0,
		stagger: 0.04,
		delay: 0.5,
		duration: 0.2,
	});
</script>

<style>
	#logo::before {
		content: " ";
		z-index: 9;
		display: inline-block;
		position: absolute;
		top: 70%;
		width: 100%;
		height: 120%;
	}
	#logo {
		position: relative;
	}
	main {
		flex: 1;
		color: var(--text);
		margin: 4em 6em 4em 6em;
		display: flex;
		flex-direction: column;
	}
	nav {
		text-align: bottom;
		color: white;
		display: flex;
		#logo {
			text-transform: uppercase;
			font-weight: 600;
			font-size: 1.6rem;
		}
		:not(:first-child) {
			margin-left: auto;
			display: flex;
			align-items: center;

			& > a:not(:last-child) {
				margin-right: 1em;
			}

			& > a {
				box-sizing: border-box;
				cursor: pointer;
				position: relative;
			}

			& > a::after {
				position: absolute;
				display: block;
				content: "";
				width: 0;
				height: 2px;
				background-color: var(--accent1);
				top: 100%;
				transition: width 100ms ease-in;
			}

			& > a:hover::after {
				width: 100%;
				transition: width 100ms ease-in;
			}

		}
	}
	footer {
		display: flex;
		& > :last-child {
			margin-left: auto;
		}
	}

	#hero {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1;
	}
	#hero-text-container {
		font-weight: 500;
		& > :last-child {
			margin-top: 0.3em;
		}
		z-index: 1;
		#greet {
			font-size: clamp(2.5rem, 4vw, 3.2rem);
			& > div span {
				color: var(--accent1);
			}
		}
		#profession {
			font-size: clamp(2.5rem, 4vw, 3.2rem);
			& > span {
				color: var(--accent3);
			}
		}
		#introduction {
			z-index: 9;
			font-size: clamp(0.8rem, 1vw, 1.2rem);
			font-weight: 400;
			color: var(--light-shade);
			max-width: 40em;
		}
	}
	@media (max-width: 1180px) {
		#profession {
			font-size: 1rem;
		}
		#greet {
			font-size: clamp(1.8rem, 1.8vw + 1rem, 2rem);
		}
		#hero {
			:last-child > a svg {
				scale: 0.8;
			}
		}
		#introduction {
			z-index: 9;
			font-size: clamp(1.5rem, 2vw, 2rem);
		}
		#introduction {
			z-index: 9;
			font-size: clamp(1.5rem, 2vw, 2rem);
		}
	}

	@media (width < 750px) {
		#hero {
			flex-direction: column;
			justify-content: center;
			text-align: center;
			:last-child > a svg {
				scale: 0.6;
			}
		}
		main {
			/* margin: 4em 2em 4em 2em; */
		}
		nav {
			:first-child {
				font-size: 1rem;
			}
		}

		#hero-text-container {
			min-width: 60%;
		}

		#profession {
			font-size: clamp(0.6rem, 1vw + 0.3rem, 1rem) !important;
		}
		#greet {
			font-size: clamp(1.2rem, 1vw + 1.4rem, 2rem) !important;
		}
		#introduction {
			font-size: clamp(0.8rem, 1vw + 0.6rem, 1.2rem) !important;
		}
	}
	/* @media  */
	@media (max-width: 600px) {
		#hero-text-container {
			min-width: 90%;
		}
		nav {
			:first-child {
				font-size: 1rem;
			}
			:last-child > svg {
				scale: 0.5;
			}
		}
	}
</style>
