---
import BarChart from "../components/BarChart.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="FDiaz">
	<main>
		<nav>
			<a id="logo" href="/">FDiaz</a>
			<div id="nav-actions">
				<a href="/projects">Works</a>
				<a>Resume</a>
				<a>Contact</a>
			</div>
			<!-- <MenuBtn /> -->
		</nav>
		<section id="hero">
			<div id="hero-text-container">
				<h1 id="greet" class="hero-text">
					Oh Hello! <div>my name is <span>Franz Diaz</span></div>
				</h1>
				<p id="profession" class="hero-text">
					I'm a <span>{"<"}Software Developer{"/>"}</span>
				</p>
			</div>
			<!-- <BarChart/> -->
		</section>
		<section id="about-section">
			<div id="about-container">
				<div id="about-content">
					<p>What I Do:</p>
					<p id="introduction" class="hero-text">
						I create UI for custom websites that specifies business needs and
						also will code for food.
					</p>
				</div>
			</div>
			<!-- <BarChart/> -->
		</section>
	</main>
</Layout>

<script>
	import SplitType from "split-type";
	import gsap from "gsap";
	const navLinks = document.getElementById("nav-actions");
	console.log(navLinks);
	SplitType.create("#logo");

	gsap.from("#hero-text-container", {
		y: 100,
		opacity: 0,
	});
	gsap.to("#hero-text-container", {
		y: 0,
		opacity: 1,
		duration: 0.7,
	});

	gsap.from(".char", {
		y: 20,
		opacity: 0,
		stagger: 0.04,
	});
	gsap.to(".char", {
		opacity: 1,
		y: 0,
		stagger: 0.04,
		delay: 0.5,
		duration: 0.2,
	});

	gsap.from(navLinks.children, {
		y: 20,
		opacity: 0,
		stagger: 0.2,
	});
	gsap.to(navLinks.children, {
		y: 0,
		stagger: 0.2,
		delay: 0.7,
		duration: 0.8,
	});
</script>

<style>
	#logo::before {
		content: " ";
		z-index: 9;
		display: inline-block;
		position: absolute;
		top: 70%;
		width: 100%;
		height: 120%;
	}
	#logo {
		position: relative;
	}
	main {
		margin: 0em 6em 0em 6em;
		flex: 1;
		color: var(--text);
		display: flex;
		flex-direction: column;
	}
	nav {
		position: relative;
		top: 2%;
		text-align: bottom;
		color: white;
		display: flex;
		#logo {
			text-transform: uppercase;
			font-weight: 600;
			font-size: 1.6rem;
		}
		:not(:first-child) {
			margin-left: auto;
			display: flex;
			align-items: center;

			& > a:not(:last-child) {
				margin-right: 1em;
			}

			& > a {
				box-sizing: border-box;
				cursor: pointer;
				position: relative;
			}

			& > a::after {
				position: absolute;
				display: block;
				content: "";
				width: 0;
				height: 2px;
				background-color: var(--accent1);
				top: 100%;
				transition: width 100ms ease-in;
			}

			& > a:hover::after {
				width: 100%;
				transition: width 100ms ease-in;
			}
		}
	}
	footer {
		display: flex;
		& > :last-child {
			margin-left: auto;
		}
	}

	section {
		min-height: 100vh;
	}
	#hero {
		ition: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	#hero-text-container {
		font-weight: 500;
		& > :last-child {
			margin-top: 0.3em;
		}
		z-index: 1;
		#greet {
			font-size: clamp(2.5rem, 4vw, 3.2rem);
			& > div span {
				color: var(--accent1);
			}
		}
		#profession {
			font-size: clamp(2.5rem, 4vw, 3.2rem);
			& > span {
				color: var(--accent3);
			}
		}
		#introduction {
			z-index: 9;
			font-size: clamp(0.8rem, 1vw, 1.2rem);
			font-weight: 400;
			color: var(--light-shade);
			max-width: 40em;
		}
	}

	#about-section {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	#about-container {
		/* border: 2px solid var(--medium-shade); */
		color: var(--bg-dark);
		background-color: var(--accent1);
		border-radius: 20px;
		width: 100%;
		height: 80%;
	}

	#about-content {
		width: 60%;
		& > :first-child {
			align-self: flex-start;
			font-weight: 600;
			font-size: 1.4rem;
		}
		& > :last-child {
			font-size: 4rem;
			font-weight: 700;
			text-transform: uppercase;
		}
	}

	#about-content,
	#about-container {
		flex-direction: column;
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
