---
import Layout from '../layouts/Layout.astro';
import ToBtn from '../components/ToBtn.astro'
import MenuBtn from '../components/MenuBtn.astro'
---

<Layout title="FDiaz">
	<main>
	<nav>
		<span id="logo">FDiaz</span>
		<MenuBtn/>
	</nav>
	<div id="hero">
		<span id="hero-text-container">
			<p id="profession" class="hero-text">Software Developer</p>
			<h1 id="greet" class="hero-text">Hello I’m <span>Franz Diaz</span></h1>
			<p id="introduction" class="hero-text">
				I create UI for custom websites that specifies business needs, and also will code for food.
			</p>
		</span>
		<ToBtn/>
	</div>
	</main>
</Layout>

<style>
	main{
		flex:1;
		color: var(--text);
		margin: 6em 10em 6em 10em;
		display: flex;
		flex-direction: column;
	}
	nav{
		text-align: bottom;
		color: white;
		display: flex;
		:not(:first-child){
			margin-left: auto;
			width: 50px;
			height: auto;
		}

		:first-child{
			text-transform: uppercase;
			font-weight: 600;
			font-size: 1.6rem;
		}

	}
	#hero{
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1;
		:not(:first-child){
			margin-left: auto;
		}
		:first-child{
			width: 100%;
		}
	}
	#hero-text-container{
		max-width: 35%;
		min-width: 500px;
		margin-right: 5em;
		#profession{
			font-size: 1.2rem;
			letter-spacing: .6em;
			font-weight: 400;
		}
		#greet{
			font-size: clamp(2.5rem, 4vw,3rem);
			font-weight: 600;
			&> span{
				color: var(--accent1);
			}
		}
		#introduction{
			font-size: clamp(1.5rem, 2vw,1.8rem);
			font-weight: 500;
		}
	}
</style>