---
import Layout from "../layouts/Layout.astro";
import ToBtn from "../components/ToBtn.astro";
import MenuBtn from "../components/MenuBtn.astro";
---

<Layout title="FDiaz">
	<main>
		<nav>
			<span id="logo">FDiaz</span>
			<MenuBtn />
		</nav>
		<div id="hero">
			<span id="hero-text-container">
				<p id="profession" class="hero-text">Software Developer</p>
				<h1 id="greet" class="hero-text">Hello I’m <span>Franz Diaz</span></h1>
				<p id="introduction" class="hero-text">
					I create UI for custom websites that specifies business needs, and
					also will code for food.
				</p>
			</span>
			<ToBtn link="/projects" />
		</div>
	</main>
</Layout>

<script>
	import SplitType from "split-type";
	import gsap from "gsap";
	SplitType.create("#logo");

	gsap.from("#hero-text-container", {
		y: 100,
		opacity: 0,
	});
	gsap.to("#hero-text-container", {
		y: 0,
		opacity: 1,
		duration: 0.7,
	});

	gsap.from(".char", {
		y: 20,
		opacity: 0,
		stagger: 0.04,
	});
	gsap.to(".char", {
		opacity: 1,
		y: 0,
		stagger: 0.04,
		delay: 0.5,
		duration: 0.2,
	});
</script>

<style>
	#logo::before {
		content: " ";
		z-index: 9;
		display: inline-block;
		position: absolute;
		top: 70%;
		width: 100%;
		height: 120%;
	}
	#logo {
		position: relative;
	}
	main {
		flex: 1;
		color: var(--text);
		margin: 6em 10em 6em 10em;
		display: flex;
		flex-direction: column;
	}
	nav {
		text-align: bottom;
		color: white;
		display: flex;
		:first-child {
			text-transform: uppercase;
			font-weight: 600;
			font-size: 1.6rem;
		}
	}

	#hero {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex: 1;
	}
	#hero-text-container {
		& > :not(:first-child) {
			margin-top: 0.3em;
		}
		z-index: 1;
		max-width: 35%;
		min-width: 500px;
		#profession {
			font-size: 1.2rem;
			letter-spacing: 0.6em;
			font-weight: 400;
		}
		#greet {
			font-size: clamp(2.5rem, 4vw, 3.2rem);
			font-weight: 600;
			& > span {
				color: var(--accent1);
			}
		}
		#introduction {
			z-index: 9;
			font-size: clamp(1.5rem, 2vw, 2rem);
			font-weight: 500;
		}
	}

	@media (max-width: 1180px) {
		main {
			margin: 6em 4em 6em 4em;
		}
		#profession {
			font-size: 1rem;
			letter-spacing: 0.6em;
			font-weight: 400;
		}
		#greet {
			font-size: clamp(1.8rem, 1.8vw + 1rem, 2rem);
		}
		#hero {
			:last-child > a svg {
				scale: 0.8;
			}
		}
		#introduction {
			z-index: 9;
			font-size: clamp(1.5rem, 2vw, 2rem);
			font-weight: 500;
		}
		#introduction {
			z-index: 9;
			font-size: clamp(1.5rem, 2vw, 2rem);
			font-weight: 500;
		}
	}

	@media (width < 750px) {
		#hero {
			flex-direction: column;
			justify-content: center;
			text-align: center;
			:last-child > a svg {
				scale: 0.6;
			}
		}
		main {
			margin: 4em 2em 4em 2em;
		}
		nav {
			:first-child {
				font-size: 1.2rem;
			}
			:last-child > svg {
				scale: 0.8;
			}
		}

		#hero-text-container {
			min-width: 60%;
		}

		#profession {
			font-size: clamp(0.6rem, 1vw + 0.3rem, 1rem) !important;
		}
		#greet {
			font-size: clamp(1.2rem, 1vw + 1.4rem, 2rem) !important;
		}
		#introduction {
			font-size: 1rem !important;
			font-size: clamp(0.8rem, 1vw + 0.6rem, 1.2rem) !important;
		}
	}
	/* @media  */
	@media (max-width: 600px) {
		#hero-text-container {
			min-width: 90%;
		}
		nav {
			:first-child {
				font-size: 1rem;
			}
			:last-child > svg {
				scale: 0.5;
			}
		}
	}
</style>
