---
import Layout from "../layouts/Layout.astro";
import Graph from "../components/Graph.astro";

const graphs = [
	{
		title: "Eat",
		percentage: 0.3,
		color:"#5c64bd"
	},
	{
		title: "Gaming",
		percentage: 0.7,
		color:"#dea657"
	},
	{
		title: "Sleep",
		percentage: 0.2,
		color:"#bd706f"
	},
	{
		title: "Code",
		percentage: .9,
		color:"#5394bd",

	},
	{
		title: "Frontend",
		percentage: .5,
		color:"#5394bd",
	},
	{
		title: "Backend",
		percentage: .7,
		color:"#5394bd",
	},
];
---

<Layout title="FDiaz">
	<main>
		<nav>
			<span id="logo">FDiaz</span>
			<div id="nav-actions">
				<a>Resume</a>
				<a href="/projects">Works</a>
				<a>Contact</a>
			</div>
			<!-- <MenuBtn /> -->
		</nav>
		<div id="hero">
			<div id="hero-text-container">
				<h1 id="greet" class="hero-text">
					Oh Hello! <div>my name is <span>Franz Diaz</span></div>
				</h1>
				<p id="profession" class="hero-text">
					I'm a <span>{"<"}Software Developer{"/>"}</span>
				</p>
				<p id="introduction" class="hero-text">
					I create UI for custom websites that specifies business needs and also
					will code for food.
				</p>
			</div>
			<div id="graphs-container">
				<div id="graphs">
					{
						graphs.map((graph) => {
							return (
								<Graph color={graph.color} title={graph.title} percentage={graph.percentage} />
							);
						})
					}
				</div>
			</div>
		</div>
		<footer></footer>
	</main>
</Layout>

<script>
	import SplitType from "split-type";
	import gsap from "gsap";
	SplitType.create("#logo");

	gsap.from("#hero-text-container", {
		y: 100,
		opacity: 0,
	});
	gsap.to("#hero-text-container", {
		y: 0,
		opacity: 1,
		duration: 0.7,
	});

	gsap.from(".char", {
		y: 20,
		opacity: 0,
		stagger: 0.04,
	});
	gsap.to(".char", {
		opacity: 1,
		y: 0,
		stagger: 0.04,
		delay: 0.5,
		duration: 0.2,
	});
</script>

<style>
	#logo::before {
		content: " ";
		z-index: 9;
		display: inline-block;
		position: absolute;
		top: 70%;
		width: 100%;
		height: 120%;
	}
	#logo {
		position: relative;
	}
	main {
		flex: 1;
		color: var(--text);
		margin: 4em 6em 4em 6em;
		display: flex;
		flex-direction: column;
	}
	nav {
		text-align: bottom;
		color: white;
		display: flex;
		#logo {
			text-transform: uppercase;
			font-weight: 600;
			font-size: 1.6rem;
		}
		:not(:first-child) {
			margin-left: auto;
			& > a:not(:last-child) {
				margin-right: 2em;
			}
		}
	}

	#hero {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1;
	}
	#hero-text-container {
		font-weight: 500;
		& > :last-child {
			margin-top: 0.3em;
		}
		z-index: 1;
		#greet {
			font-size: clamp(2.5rem, 4vw, 3.2rem);
			& > div span {
				color: var(--accent1);
			}
		}
		#profession {
			font-size: clamp(2.5rem, 4vw, 3.2rem);
			& > span {
				/* animate this */
				color: var(--accent3);
			}
		}
		#introduction {
			z-index: 9;
			font-size: clamp(0.8rem, 1vw, 1.2rem);
			font-weight: 400;
			color: var(--light-shade);
			max-width: 40em;
		}
	}
	#graphs-container {
		display: flex;
		justify-content: end;
		align-items: center;
		flex: 1;
		height: 80%;
		width: 100%;
	}
	#graphs{
		max-width: 80%;
		padding: 0 2em 1em 2em;
		border: 2px solid var(--medium-shade);
		border-top: none;
		height: inherit;
		display: flex;
		align-self: flex-end;
		gap: 1em;
		background-image: linear-gradient();
		flex: 1;
	}

	@media (max-width: 1180px) {
		main {
			margin: 6em 4em 6em 4em;
		}
		#profession {
			font-size: 1rem;
			letter-spacing: 0.6em;
			font-weight: 400;
		}
		#greet {
			font-size: clamp(1.8rem, 1.8vw + 1rem, 2rem);
		}
		#hero {
			:last-child > a svg {
				scale: 0.8;
			}
		}
		#introduction {
			z-index: 9;
			font-size: clamp(1.5rem, 2vw, 2rem);
		}
		#introduction {
			z-index: 9;
			font-size: clamp(1.5rem, 2vw, 2rem);
		}
	}

	@media (width < 750px) {
		#hero {
			flex-direction: column;
			justify-content: center;
			text-align: center;
			:last-child > a svg {
				scale: 0.6;
			}
		}
		main {
			margin: 4em 2em 4em 2em;
		}
		nav {
			:first-child {
				font-size: 1.2rem;
			}
			:last-child > svg {
				scale: 0.8;
			}
		}

		#hero-text-container {
			min-width: 60%;
		}

		#profession {
			font-size: clamp(0.6rem, 1vw + 0.3rem, 1rem) !important;
		}
		#greet {
			font-size: clamp(1.2rem, 1vw + 1.4rem, 2rem) !important;
		}
		#introduction {
			font-size: 1rem !important;
			font-size: clamp(0.8rem, 1vw + 0.6rem, 1.2rem) !important;
		}
	}
	/* @media  */
	@media (max-width: 600px) {
		#hero-text-container {
			min-width: 90%;
		}
		nav {
			:first-child {
				font-size: 1rem;
			}
			:last-child > svg {
				scale: 0.5;
			}
		}
	}
</style>
