---
import BarChart from "../components/BarChart.astro";
import Layout from "../layouts/Layout.astro";
import ToBtn from "../components/ToBtn.astro";
---

<Layout title="FDiaz">
	<section id="container">
		<section id="hero">
			<h1 id="profession">Software Developer</h1>
			<span id="greet">
				<p>Oh Hello!</p>
				<p>I'm Franz Diaz</p>
			</span>
			<div id="about-panel" class="inactive">
				<div id="about-contents">
					<p>I create UI for custom websites that specifies business needs.</p>
				</div>
			</div>
		</section>
	</section>
</Layout>

<script is:inline></script>

<style>
	#container {
		display: flex;
		align-items: center;
		/* position: relative; */
	}
	#btn-container {
		position: absolute;
		right: 10%;
	}
	section#hero {
		position: relative;
	}
	#profession {
		color: var(--accent1);
		font-weight: 400;
		font-size: clamp(0.7rem, 1vw + 0.4rem, 1.2rem);
		text-transform: uppercase;
		letter-spacing: 0.8em;
	}
	span#greet {
		display: block;
		margin-top: 0.4em;
		margin-bottom: 0.4em;
		line-height: 60px;
		font-weight: 500;
		font-size: clamp(1rem, 1vw + 2rem, 3rem);
	}

	div#about-panel {
		position: absolute;
		/* cursor: pointer; */
		background-color: var(--accent1);
		color: var(--bg);
		overflow: hidden;
		border-radius: 9px;
		padding: 0.8em;
		width: max-content;
		min-width: 100%;
		display: flex;
		align-items: center;
	}
	div#about-contents {
		font-weight: 600;
		:first-child {
			font-weight: 600;
			font-size: 1.1rem;
		}
		& > :not(:first-of-type) {
			margin-top: 1em;
		}
	}
</style>
