---
import BarChart from "../components/BarChart.astro";
import Layout from "../layouts/Layout.astro";
import ToBtn from "../components/ToBtn.astro";
---

<Layout title="FDiaz">
	<section id="hero">
		<h1 id="profession">Software Developer</h1>
		<span id="greet">
			<p>Oh Hello!</p>
			<p>I'm Franz Diaz</p>
		</span>
		<div id="about-panel"  class="inactive">
			<div id="about-contents">
				<p>
				I create UI for custom websites that specifies business needs.
				</p>
				<p>
					I’ve been studying software development for 1 and a half years now,
					through free and open source modules.
				</p>
				<p>
					Currently I am a Frontend Developer, studying to become a Backend
					developer I prefer building APIs, handling database queries, requests
					and response cycles, authentication, validating user requests and all
					that jazz.
				</p>
				<p>
				 *and will also code for food. *
				</p>
			</p>
		</div>
	</section>
		<div id="btn-container" >
			<ToBtn link="/projects"/>
		</div>
</Layout>

<script is:inline>
	const aboutPanel = document.getElementById("about-panel");
	console.log(aboutPanel);
	aboutPanel.addEventListener("click",(e)=>{
		const target = e.currentTarget;
		if(!target.classList.contains("active")){
			target.classList.replace("inactive","active")
			return
		}
			target.classList.replace("active","inactive")
	},false)

</script>

<style>
	#btn-container{
		position: absolute;
		right: 10%;
	}
	section#hero{
		position: relative;
	}
	#profession {
		color: var(--accent1);
		font-weight: 400;
		font-size: 1.2rem;
		text-transform: uppercase;
		letter-spacing: 0.8em;
	}
	span#greet {
		font-weight: 500;
		font-size: 3rem;
	}

	div#about-panel {
		position: absolute;
		cursor: pointer;
		background-color: var(--accent1);
		color: var(--bg);
		overflow: hidden;
		border-radius: 10px;
		padding: .8em;
		width: 130%;
	}
	.inactive{
		max-height:3rem;
		transition: max-height 150ms ease-in-out;
	}
	.active{
		max-height: 150% ;
		transition: max-height 150ms ease-in-out;
	}


	div#about-contents{
		:first-child{
			font-size: 1.1rem;
		}
		& > :not(:first-of-type){
			margin-top: 1em;
		}
	}
</style>
