---
import Layout from "../layouts/Layout.astro";

---

<Layout title="project">
    <main id="projects-container">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </main>
</Layout>

<style>
    #projects-container{
        display: flex;
        flex:1;
        & >div{
            flex:1;
            outline: var(--medium-shade) 1px solid;
        }
    }
</style>
