---
import Layout from "../layouts/Layout.astro";
import ToBtn from "../components/ToBtn.astro";
import GitRepo from "../components/GitRepo.astro";

const placeholderRepos = [
	{
		title: "markdown-app",
		desc: "A free note taking app using vim key bindings",
		lang: "Typescript",
	},
	{
		title: "warframe-event-status-cli",
		desc: "A Warfame CLI tool to fetch and display current events in the comfort of your terminal",
		lang: "Typescript",
	},
	{
		title: "chrome-app",
		desc: "Current events in the comfort of your terminal",
		lang: "Typescript",
	},
	{
		title: "event-cli",
		desc: "CLI tool to fetch events in the comfort of your terminal",
		lang: "Typescript",
	},
];
---

<Layout title="project">
	<section id="left">
		<div id="left-header">
			<div id="back-btn-container">
				<ToBtn link="/" />
				<p>Back</p>
			</div>
			<p>
				Here are some of the projects I’ve built throughout my journey of
				studying
				<span>
					{"<Software Development/>"}
				</span>
			</p>
		</div>
		<div id="featured-projects">
			<h1>Featured Projects</h1>
			<div id="carousel">
				<img alt="some-project-image" />
			</div>
		</div>
	</section>
	<section id="right">
		<div id="right-header">
			<h1>Projects im currently working on</h1>
			<div id="current-projects-container">
				{
					placeholderRepos.map((repo) => {
						return (
							<GitRepo title={repo.title} desc={repo.desc} lang={repo.lang} />
						);
					})
				}
			</div>
		</div>
		<footer id="end">
			<div id="footer-text">
				<p>
					Making <span class="footer-highlight" id="ideas">Ideas</span> and <span
						class="footer-highlight"
						id="imagintations">Imaginations</span
					>
					 come to life, to help me and others benefit from the usefulness of my
					work.
				</p>
				<a href="https://github.com/Sty6x">More projects here.</a>
			</div>
			<div id="to-email-page">
				<p>How to reach me.</p>
				<ToBtn link="/reach-me" />
			</div>
		</footer>
	</section>
</Layout>

<script></script>

<style>
	section {
		height: 100%;
		flex: 1;
	}
	#right {
		max-width: 46%;
		margin-left: 1.5em;
	}

	#left {
		display: flex;
		flex-direction: column;
	}
	#back-btn-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		:first-child {
			margin-bottom: 0.5em;
		}
		& > #to-project {
			transform: rotate(180deg);
		}
	}

	#left-header {
		display: flex;
		align-items: center;
		& > :not(:first-child) {
			text-align: end;
			max-width: 80%;
			font-weight: 500;
			font-size: 2.2rem;
			margin-left: auto;
			& > span {
				color: var(--accent1);
			}
		}
	}

	#featured-projects {
		display: flex;
		flex: 1;
		flex-direction: column;
		& > :first-child {
			font-size: 2rem;
			font-weight: 600;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				display: block;
				width: 100%;
				height: 5px;
				background-color: var(--lighter-shade);
			}
		}
	}
	#carousel {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 1em;
		width: 100%;
		height: 100%;
		border-radius: 10px;
		border: 1px solid var(--lighter-shade);
		& > img {
			width: 100%;
			height: 100%;
		}
	}

	#right-header {
		& > :first-child {
			font-weight: 500;
			font-size: 2rem;
			position: relative;
			&::after {
				display: block;
				position: absolute;
				content: "";
				width: 100%;
				height: 5px;
				background-color: var(--lighter-shade);
			}
		}
	}
	#current-projects-container{
		display: grid;
		grid-template-rows: repeat(2,minmax(200px,1fr));
		grid-template-columns: repeat(2,1fr);
		gap: .6em;
		padding: 1em 0;
	}
</style>
