---
import vimnotesImg from "../assets/images/vimnotes-1.png";
import wfCLI from "../assets/images/wf-term.png";
import timeTracker from "../assets/images/wf.png";
const featuredList = [
	{
		title: "Vimnotes",
		desc: "A free note taking app using vim key bindings.",
		imgPath: wfCLI,
		link: "/",
	},
	{
		title: "Vimnotes",
		desc: "A free note taking app using vim key bindings.",
		imgPath: timeTracker,
		link: "/",
	},
];
---

<div id="featured-cards-container">
	<a id="first-card" class="cards">
		<img src={vimnotesImg.src} />
	</a>
	<section id="right-cards">
		{
			featuredList.map((card) => {
				return (
					<a class="cards">
						<img src={card.imgPath.src} />
					</a>
				);
			})
		}
	</section>
</div>

<script>

</script>


<style>
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: .7;
		filter: saturate(.8);
	}
	#featured-cards-container,
	#right-cards {
		display: flex;
		gap: 0.6em;
	}
	.cards {
		cursor: pointer;
		position: relative;
		display: block;
		overflow: auto;
		border-radius: 3px;
		z-index: 20;
	}
	.cards:hover{
		scale:1.05;
	}
	.cards::after {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		content: "";
		top: 0%;
		left: 0%;
	}
	#first-card {
		& > img {
			object-position: 0% 0%;
		}
		&::after {
			background: linear-gradient(var(--gradient-angle), transparent 20%, var(--accent1) var(--outer-value));
		}
	}
	#featured-cards-container,
	.cards {
		width: 100%;
		height: 100%;
	}

	#right-cards {
		flex-direction: column;
		& > a:first-child::after {
			background: linear-gradient(var(--gradient-angle), transparent 20%, var(--accent2) var(--outer-value));
		}

		& > a:last-child::after {
			background: linear-gradient(var(--gradient-angle), transparent 20%, var(--accent3) var(--outer-value));
		}
	}
	#first-card,
	#right-cards {
		flex: 1;
	}
</style>
