---
import vimnotesImg from "../assets/images/vimnotes-1.png";
import wfCLI from "../assets/images/wf-term.png";
import timeTracker from "../assets/images/timetracker-2.jpg";
---

<div id="featured-item-container"></div>

<script></script>

<style></style>
