---
import vimnotesImg from "../assets/images/vimnotes-1.png";
import wfCLI from "../assets/images/wf-term.png";
import timeTracker from "../assets/images/wf.png";
const featuredList = [
	{
		title: "Vimnotes",
		desc: "A free note taking app using vim key bindings.",
		imgPath: wfCLI,
		link: "/",
	},
	{
		title: "Vimnotes",
		desc: "A free note taking app using vim key bindings.",
		imgPath: timeTracker,
		link: "/",
	},
];
---

<div id="featured-cards-container">
	<a id="first-card" class="cards">
		<img src={vimnotesImg.src} />
	</a>
	<section id="right-cards">
		{
			featuredList.map((card) => {
				return (
					<a class="cards">
						<img src={card.imgPath.src} />
					</a>
				);
			})
		}
	</section>
</div>

<style>
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	#featured-cards-container,
	#right-cards {
		display: flex;
		gap: 0.8em;
	}
	.cards {
        position: relative;
        display: block;
		overflow: auto;
		border-radius: 3px;
	}
    .cards::after{
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        content: "";
        background: linear-gradient(150deg,transparent 20%,var(--accent2) 180%);
        top: 0%;
        left: 0%;
        /* z-index: 20; */
    }

	#first-card {
		& > img {
			object-position: 0% 0%;
		}
	}
	#featured-cards-container,
	.cards {
		width: 100%;
		height: 100%;
	}

	#right-cards {
		flex-direction: column;
	}
	#first-card,
	#right-cards {
		flex: 1;
	}
</style>
