---

---

<footer>
	<div class="upper section">
		<div>
			<a>Email</a>
			<a href="https://github.com/Sty6x">Github</a>
			<a href="https://www.linkedin.com/in/franz-diaz-a11529294/">LinkedIn</a>
			<a href="/contact">Reach me</a>
		</div>
	</div>
	<div class="lower section">
		<div>
			<p>Franz Diaz 2023 o Dubai, UAE</p>
		</div>
	</div>
</footer>

<style>
	footer {
		margin-top: 2em;
		height: 5em;
		display: flex;
		justify-content: center;
		flex-direction: column;
		color: var(--light-shade);
		font-size: 0.8rem;
	}
	.upper {
		padding: 0em 0em 1em 0em;
		border-bottom: 1px solid var(--medium-shade);
		& > div a:hover {
			text-decoration: underline;
		}
		& > div a:visited {
			color: var(--light-shade);
		}
		& > div a:link {
			color: var(--light-shade);
		}
	}

	.lower {
		padding: 1em 0em 0em 0em;
	}
	.section {
		display: flex;
		align-items: center;
		justify-content: center;
		& > div {
			font-weight: 200;
			display: inherit;
			gap: 1.6em;
		}
	}
</style>
