---
const {title, desc, lang, link} = Astro.props;
---

<a id="repo-container" href={link}>
	<div id="repo-title-desc">
		<h2>{title}</h2>
		<p>{desc}</p>
	</div>
	<p id="languages">{lang}</p>
</a>

<style>
	#repo-container {
		transform-origin: 50%;
		cursor: pointer;
		padding: 1.5em 1em;
		border: 1px solid var(--lighter-shade);
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		transition: background-color 150ms ease-in-out;
		& > :last-child {
			margin-top: auto;
		}
	}

	#repo-container:hover {
		background-color: var(--lighter-shade);
		transition: background-color 150ms ease-in-out;
		& > #repo-title-desc {
			& > h2 {
				color: var(--accent3);
			}
		}
	}

	#repo-title-desc {
		& > h2 {
			font-weight: 600;
			font-size: clamp(0.7rem, 1vw + 0.4rem, 1.2rem);
			color: var(--accent3);
		}
		& > :last-child {
			font-size: clamp(0.7rem, 1vw + 0.2rem, 1rem);
		}
	}
	#languages {
		font-size: 0.8rem;
		color: var(--accent3);
	}
</style>
