---
const {color, title, percentage} = Astro.props;
---

<div class="graph-stat">
	<div style={{backgroundColor: color}} class="stat-percent"></div>
	<p class="stat-title">{title}</p>
</div>

<style define:vars={{height: percentage}}>
	.graph-stat {
		width: 100px;
		text-align: end;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: end;
	}
	.stat-percent {
		width: 40%;
		max-height: fit-content;
		height: calc(100% * var(--height));
	}
</style>
