
---


---
<button id="menu-btn">
    <svg viewBox="0 0 50 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="menu-path" d="M2 2H47.4413" stroke="#DEA657" stroke-width="4" stroke-linecap="square"/>
        <path class="menu-path" d="M12 14L47 14" stroke="white" stroke-width="4" stroke-linecap="square"/>
        <path class="menu-path" d="M22 26L47 26" stroke="white" stroke-width="4" stroke-linecap="square"/>
    </svg>
</button>

<style>
	#menu-btn{
			margin-left: auto;
			width: 50px;
			height: auto;
		}
   path {
    stroke-dasharray: 500;
    stroke-dashoffset: -500;
    animation: dash 2000ms ease-in forwards;
}
svg:hover > path{
    /* do something */
}

@keyframes dash {
    0% {
        stroke-dashoffset: 500;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
</style>