
---


---
<button id="menu-btn">
    <svg width="50" height="28" viewBox="0 0 50 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 2H47.4413" stroke="#DEA657" stroke-width="4" stroke-linecap="square"/>
        <path d="M12 14L47 14" stroke="white" stroke-width="4" stroke-linecap="square"/>
        <path d="M22 26L47 26" stroke="white" stroke-width="4" stroke-linecap="square"/>
    </svg>
</button>

<style>

</style>