---

---

<nav id="navigation-bar">
	<a class="link active-link" href="/">Home</a>
	<a class="link inactive-link" href="/about">About me</a>
	<a class="link inactive-link" href="/projects">Projects</a>
	<a class="link inactive-link" href="/contact">Contact</a>
</nav>

<script>
	const links = document.querySelectorAll("a.link");
	const linkArray = Array.from(links);
	function setActiveLink() {
		const currentPath = window.location.pathname;
		linkArray.forEach((link) => {
			if (link.pathname === currentPath) {
				link.classList.replace("inactive-link", "active-link");
			} else {
				link.classList.replace("active-link", "inactive-link");
			}
		});
	}

	window.addEventListener("DOMContentLoaded", setActiveLink);
</script>

<style>
	#navigation-bar {
		position: fixed;
		display: flex;
		flex-direction: column;
		gap: 2em;
		text-align: center;
		left: 90%;
	}
	.link {
		position: relative;
	}
	.inactive-link {
		color: #ffffff60;
	}
	.inactive-link::after {
		content: "";
		margin-top: 0.3em;
		position: absolute;
		display: block;
		width: 0%;
		height: 2px;
		left: 50%;
		transform: translateX(-50%);
		top: 100%;
		background-color: var(--accent1);
		transition: all 200ms ease-in-out;
	}

	.inactive-link:hover::after {
		width: 100%;
		box-shadow: 0px 1px 10px 1px #a3dfd560;
		transition: all 200ms ease-in-out;
	}

	.active-link::before {
		content: "";
		position: absolute;
		right: 100%;
		display: inline-block;
		top: 50%;
		transform: translateY(-50%);
		background-color: var(--accent1);
		width: 5px;
		height: 5px;
		border-radius: 50%;
		transition: all 200ms ease-in-out;
		box-shadow: 0px 1px 10px 1px #a3dfd560;
	}
	.active-link:hover {
		&::before {
			transition: all 200ms ease-in-out;
			width: 8px;
			height: 8px;
		}
	}
</style>
