---
const {link, text} = Astro.props;
---

<span id="to-btn" class="to-btn-container">
	<a href={link} class="to-btn">{text}<span class="arrow">{">"}</span></a>
</span>

<style>
	.to-btn-container {
		background-color: var(--accent1);
		position: relative;
		& > a {
			padding: 1em 1.5em;
			color: var(--bg);
			font-weight: 600;
			display: flex;
			gap: 0.6em;
			box-shadow: 5px 5px 0px 0px var(--accent1-shadow);
			transition: all 200ms ease-in-out;
			& > .arrow {
				font-size: 1.2em;
			}
		}
		& > a:hover {
			transition: all 200ms ease-in-out;
			box-shadow: 12px 6px 0px 0px var(--accent1-shadow);
		}

		& > a span {
			transition: all 200ms ease-in-out;
		}
		& > a:hover span {
			transform: translateX(10px);
			transition: all 200ms ease-in-out;
		}
	}
	@media (max-width: 1030px) {
		.to-btn-container {
			& > a {
				padding: 0.8em 1em;
				font-size: 0.9rem;
				& > .arrow {
					font-size: 0.5 em;
				}
			}
		}
	}
</style>
